<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Record your voice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Record your voice</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
        <ion-img
          src="https://i.insider.com/5b22bda45e48ec22008b46b5?width=1080&format=jpeg"
        ></ion-img>
        
        <div class="ion-text-center">
          <ion-button>
            <ion-label>Record</ion-label>
            <ion-icon name="mic-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
